<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- start -->
    <h1>lorem</h1>
    <post>
        <summary>
            <h1>Indonesia</h1>
        </summary>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt earum reprehenderit beatae laudantium labore amet hic non, fugiat et eaque consectetur aliquam dolor odio officia cum dignissimos iure voluptates laborum?
        </p>
    </post>
    <!-- /end start -->
</body>
</html>